p {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
}

h1 {
    font-family: 'Geostar', cursive;
    /* margin-top: 20px; */
    /* margin-left: 30px;
    margin-bottom: 100px; */
    /* margin: 45px 100px 200px 28px; */
    margin: 45px auto 200px auto;
    width: 15%;
    border: 2px solid;
    padding: 10px 20px 20px 10px;
}